<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CadenaConexion" connectionString="Data Source=C-S408-E21\SERVIDOR;Initial Catalog=tecnologico;User Id=sa;Password=estudiante;TrustServerCertificate=True" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>